section {
  text-align: center;
  display: grid;
}

#body{
  text-align: center;
  padding: 10%;
}
h1 {
  color: brown;
}

#section1 {
  text-align: center;
  padding-bottom: 10%;
}

#n1,
#n2 {

  margin-right: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: black;

}

#resultado {
  
  color: brown;
  text-align: center;
}

#select {
  margin-right: 5%;
}

#butao, #reset {
  
  margin: 5%;
  text-align: center;
  width: 18%;

}

#select{
  border: 2px solid black;
}

